.python-version
env

.ipynb_checkpoints

__pycache__

/data
/user_data

nezha-base-count3/pretrain/nezha_model/
nezha-base-count3/pretrain/nezha_output/
nezha-base-count3/pretrain/runs/
nezha-base-count3/pretrain/*.csv
nezha-base-count3/finetuning/models/

/*.zip
/*.csv

/bert/*.csv

catboost_info

/src/*.csv

/new_src/*.csv

/code/*.csv
/bert2/*.csv

/docker/data

nltk_data

/code2/*.csv
